@implements IDisposable

@inject Javascript _javascript

<span>You Watched The Beam @beamPasses Times</span>
<div id="animationHost"></div>
@functions{
    int beamPasses = 0;
    bool animationInitialized = false;

    void IncrementBeamPass()
    {
        beamPasses++;
        StateHasChanged();
    }
   
    protected override void OnAfterRender()
    {
        base.OnAfterRender();
        if (!animationInitialized)
        {
            
            _javascript.BeamPassTriggered += IncrementBeamPass;
            _javascript.LoadAnimation("animationHost", 1000, 200);
            animationInitialized = true;
        }
    }

    public void Dispose()
    {
        _javascript.BeamPassTriggered -= IncrementBeamPass;
    }
}
