@implements IDisposable
@inject Javascript _javascript

<span>You Watched The Beam @beamPasses Times</span>
<div id="animationHost"></div>
@code{

    int beamPasses = 0;
    //bool animationInitialized = false;

    void IncrementBeamPass()
    {
        beamPasses++;
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            Javascript.BeamPassTriggered += IncrementBeamPass;
            _javascript.LoadAnimation("animationHost", 1000, 200);
            //animationInitialized = true;
        }
    }

    public void Dispose()
    {
        Javascript.BeamPassTriggered -= IncrementBeamPass;
    }
}
