@using Beam.Shared
@page "/fetchdata"
@inject HttpClient Http

@if (frequencies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var frequency in frequencies)
        {
            <li>
                @frequency.Name
            </li>
        }
    </ul>
}

@code {
FrequencyItem[]? frequencies;

protected override async Task OnInitializedAsync()
{
    frequencies = await Http.GetFromJsonAsync<FrequencyItem[]>("api/Frequency/All");
}

}
