@using Beam.Shared
@page "/fetchdata"
@inject DataService data


@if (data.Frequencies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var frequency in data.Frequencies)
        {
            <li>
                @frequency.Name
            </li>
        }
    </ul>
}
<input bind=name />
<button onclick=@(AddFrequencyClick) type="button" class="btn"></button>

@functions
{
    private string name = "";
    protected override void OnInit()
    {
        data.UdpatedFrequencies += StateHasChanged;
        data.GetFrequencies().ConfigureAwait(false);
    }

    private void AddFrequencyClick()
    {
        data.AddFrequency(name).ConfigureAwait(false);
        name = "";
    }
}
