<div class="card">
    <div class="card-body">
        <span class="card-text">"@ray.Text"</span><i>- @ray.UserName</i>
    </div>
</div>
@functions{
    [Parameter]
    private Beam.Shared.Ray ray { get; set; }
}
