@page "/frequency/{id}"
@inject IDataService data


<RayInput @bind-newRayText="newRayText" RayCast="@RayCast" />
<div class="spinner-border" role="status" hidden="@HideLoading">
  <span class="sr-only">Loading...</span>
</div>
@foreach (var ray in data.Rays)
{
    <p>
        <RayItem ray="@ray" />
    </p>
}

@code{
    [Parameter]
    public string Id { get; set; }

    public string newRayText { get; set; }

    public bool HideLoading { get; set; } = false;

    protected override void OnParametersSet()
    {
        data.UpdatedRays += UpdatedRays;
        data.SelectedFrequency = Int32.Parse(Id);
    }

    void UpdatedRays()
    {
        HideLoading = true;
        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
            newRayText = $"Hello, my name is {data.CurrentUser.Name}";
        else
            newRayText = "";
        StateHasChanged();
    }

    void RayCast(){
        HideLoading = false;
    }
}
