@page "/frequency/{id}"
@inject DataService data


<RayInput @bind-newRayText="newRayText" />
@foreach (var ray in data.Rays)
{
    <p>
        <RayItem ray="@ray" />
    </p>
}


@code{
    [Parameter]
    public string Id { get; set; }

    public string newRayText { get; set; }

    protected override void OnParametersSet()
    {
        data.UpdatedRays += UpdateNewRayText;
        data.UpdatedRays += StateHasChanged;
        data.SelectedFrequency = Int32.Parse(Id);
        data.UpdatedRays += UpdateNewRayText;
        UpdateNewRayText();
    }

    void UpdateNewRayText()
    {
        if (!data.Rays.Any(r => r.UserName == data.CurrentUser.Name))
            newRayText = $"Hello, my name is {data.CurrentUser.Name}";
        else
            newRayText = "";
    }


}
