@page "/User/{name}"
@inject DataService data

<h2>User @Name Prisms</h2>
@foreach (var ray in data.Rays)
{
    <p>
        <RayItem ray="@ray" />
    </p>
}

@functions{
    [Parameter]
    private string Name { get; set; }
    protected override async Task OnInitAsync()
    {
        data.UpdatedRays += StateHasChanged;
        await data.GetUserRays(Name);
    }
}