@inherits TestComponentBase
<Fixture Description="AuthorizedIndex Loads successfully" Test="IndexAuthorizedRenders">
    <ComponentUnderTest>
        <CascadingAuthenticationState>
            <Beam.Client.Pages.Index></Beam.Client.Pages.Index>
        </CascadingAuthenticationState>
    </ComponentUnderTest>
    <Fragment>
       <li diff:ignore ></li>
        <li diff:ignore> </li>
    </Fragment>
</Fixture>

@code{
    public void IndexAuthorizedRenders(Fixture fixture)
    {

        fixture.Services.AddSingleton<IAuthorizationPolicyProvider, MockAuthorizationPolicyProvider>();
        fixture.Services.AddSingleton<IAuthorizationService, MockAuthorizationService>();
        fixture.Services.AddSingleton<AuthenticationStateProvider>(new TestAuthenticationStateProvider(null));

        var cut = fixture.GetComponentUnderTest<Beam.Client.Pages.Index>();
        Assert.Contains("Select a Frequency, or create a new one", cut.Markup);
        cut.MarkupMatches(@"<h2 diff:ignore></h2>
                                <p diff:ignore></p>");
    }
}